---
layout: default
---

<div id="container-index" class="js-masonry" data-masonry-options='{ "itemSelector": ".item-masonry" }'>
  <div class="item-masonry">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- yunanhelmy.github.io -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4516289248349080"
           data-ad-slot="5635187256"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
  {% for post in paginator.posts %}
  <div class="item-masonry">
    <div class="post-index-header">
      <span class="date-post">{{ post.date | date: "%d %b %Y" }}</span>
      {% if post.categories.first %}
        <span class="label success category-post">{{ post.categories.first }}</span>
      {% endif %}
    </div>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.thumbnail %}
      <div class="row">
        <img class="th thumbnail-post" src="{{ post.thumbnail }}">
        <span class="title-with-img">{{ post.title }}</span>
      </div>
      {% else %}
      {{ post.title }}
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="row pagination-centered">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination" style="display: none;">
    {% if paginator.previous_page %}
      <li class="arrow"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a href="javascript:void(0);">&laquo;</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class=""><a href="javascript:void(0);">{{ page }}</a></li>
      {% elsif page == 1 %}
        <li class=""><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li class=""><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="arrow"><a  id="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><ahref="javascript:void(0);">&raquo;</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>