<header class="site-header sticky" data-anijs="if: load, on: window, do: fadeInDownBig animated">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="javascript:void(0)">Menu</a></li>
      </ul>
  
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        {% for page in site.pages %}
          {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</header>
